{
 :deps {
        org.clojure/clojure {:mvn/version "1.12.0"}, 
        org.clojure/core.async {:mvn/version "1.8.741"}, 
        clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}
        }

 :aliases {
           :run { :main-opts ["-m" "mato.core"]}

           :repl/nrepl
           {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
            :main-opts  ["-m" "nrepl.cmdline"]}

           :test/run
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.69.1069"}}
            :main-opts   ["-m" "kaocha.runner"]
            :exec-fn kaocha.runner/exec-fn
            :exec-args {}}
           }
 }

